<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120736833-1"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());

  				gtag('config', 'UA-120736833-1');
			</script>


			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | relative_url }}">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
				<h2>Contact</h2>
	    		<ul>
	        		<li><a href="mailto:shinhk@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kyleshin">github.com/kyleshin</a></li>
				</ul>
			</footer>
		</body>
	</html>
